---
- name: Install docker and common packages
  hosts:
    docker
  tasks:
    - name: Install docker.io
      apt:
        name: docker.io
        state: latest
    - name: Install docker-compose
      apt:
        name: docker-compose
        state: latest
    - name: Enable docker
      systemd:
        name: docker
        enabled: yes
    - name: Start docker
      systemd:
        name: docker
        state: started
    - name: Install curl
      apt:
        name: curl
        state: latest
    - name: Install nfs-common
      apt:
        name: nfs-common
        state: latest
    - name: Install apt-transport-https
      apt:
        name: apt-transport-https
        state: latest
